# Python
__pycache__

# Python build/setuptools
dist/
*.egg-info/
build/*
venv/*

examples/*.py
data/all_madelon_dat.csv
data/all_madelon_dat_py.csv
data/all_madelon_dat_sub_10.csv
data/all_madelon_dat_py_sub_10.csv
data/*.txt
data/*.json
data/madelon_50.csv

# Custom Python venv
.venv/

# Temporary data
/data/test_contrast_variables\.csv

# macOS
\.DS_Store
